<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'a_models/css/a_models.css' %}" />
    <title>Message Concept</title>
</head>

<body>
    <h4> Messaging Concept in Django Framework</h4>
    <form action='' method='POST' enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        {{uni.as_p}}
        <input type='submit' value='submit'>
    </form>
    {% if messages %}
    {% for message in messages %}
    <span {% if message.tags %} class = "{{message.tags}}" {% endif %}>{{message}}</span>
    {% endfor %}
    {% endif %}

</body>

</html>